body {
  margin: 0;
  padding: 0;

  background-image: url("https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;

  object-fit: cover;
}

.container {

  width: 30%;
  height: 75vh;
  background-color: transparent;
  text-align: center;
  margin: auto;
  display: flex;

  justify-content: center;




}

.Box {
  margin-top: 10%;
}

h1 {
  margin-top: 5%;

}

Button {
  background-color: rgb(96, 77, 136);
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;

  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 90%;

  }
}

Text::placeholder{
  color:red
}